{% extends 'main/base.html' %}
{% load static %}

{% block title %}Create Order{% endblock title %}

{% block content %}
    <div class="forcreate">
        <div class="profile bg-wight p-4 mb-4mx-2">
            <h2 class="mb-2">Create order</h2>
            <form action="" method="post" class="order-form">
                {% csrf_token %}
                <div class="col-md-12 mb-3">
                    <label for="id_first_name" class="form-label">First_name*:</label>
                        <input type="text" class="form-control form-stile-profile" id="id_first_name"
                            value="{% if form.first_name.value %}{{ form.first_name.value|default:"" }}{% endif %}"
                            name="first_name" placeholder="Your first name" required>
                    {% if form.first_name.errors %}
                        <div class="alert alert-danger alert-dismissible fade show">{{form.first_name.errors}}</div>
                    {% endif %}
                    <label for="id_last_name" class="form-label">Last_name*:</label>
                        <input type="text" class="form-control form-stile-profile" id="id_last_name"
                            value="{% if form.last_name.value %}{{ form.last_name.value|default:"" }}{% endif %}"
                            name="last_name" placeholder="Your last name" required>
                    {% if form.last_name.errors %}
                        <div class="alert alert-danger alert-dismissible fade show">{{form.last_name.errors}}</div>
                    {% endif %}
                    <label for="id_email" class="form-label">Email*:</label>
                        <input type="text" class="form-control form-stile-profile" id="id_email"
                            value="{% if form.email.value %}{{ form.email.value|default:"" }}{% endif %}"
                            name="email" placeholder="Your email" required>
                    {% if form.email.errors %}
                        <div class="alert alert-danger alert-dismissible fade show">{{form.email.errors}}</div>
                    {% endif %}
                    <label for="id_address" class="form-label">address:</label>
                        <input type="text" class="form-control form-stile-profile" id="id_address"
                            value="{% if form.address.value %}{{ form.address.value|default:"" }}{% endif %}"
                            name="address" placeholder="Your address" required>
                    {% if form.address.errors %}
                        <div class="alert alert-danger alert-dismissible fade show">{{form.address.errors}}</div>
                    {% endif %}
                    <label for="id_postal_code" class="form-label">postal_code:</label>
                        <input type="text" class="form-control form-stile-profile" id="id_postal_code"
                            value="{% if form.postal_code.value %}{{ form.postal_code.value|default:"" }}{% endif %}"
                            name="postal_code" placeholder="Your postal_code" required>
                    {% if form.postal_code.errors %}
                        <div class="alert alert-danger alert-dismissible fade show">{{form.postal_code.errors}}</div>
                    {% endif %}
                    <label for="id_city" class="form-label">city:</label>
                        <input type="text" class="form-control form-stile-profile" id="id_city"
                            value="{% if form.city.value %}{{ form.city.value|default:"" }}{% endif %}"
                            name="city" placeholder="Your city" required>
                    {% if form.city.errors %}
                        <div class="alert alert-danger alert-dismissible fade show">{{form.city.errors}}</div>
                    {% endif %}
                </div>
                <p><button type="submit" class="btn btn-dark" value="Place Order"></button></p>
                {% csrf_token %}
            </form>
        </div>
        <div class="checkout">
            <h1>Checkout</h1>
            <div class="order_info">
                {% for item in cart %}
                    <li>
                        {{ item.quantity}} * {{ item.product.name }}
                        <p>$ {{ item.total_price }}</p>
                    </li>
                    <p>Total $ {{cart.get_total_price }}</p>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock content %}