{% extends "main/base.html" %}
{% load static %}

{% block title %}
    {{ product.name }}
{% endblock title %}

{% block content %}

    {% if product %} <p>bla</p> {{product}} {% else %} <p>of</p> {% endif %}

    <div class="detail-product d-flex">
        <div class="detail-img">
            <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/img-1.jpg' %}{% endif %}" alt="photo-1" class="detail-image">
        </div>            
        <div class="detail-description">
            <h2>{{ product.name }}</h2>
            <h3>Category: {{ product.category}}</h3>
            <p>Description: {{ product.description|linebreaks }}</p>
            {% if product.discount %}
                <div class="card-discount d-flex gap-2">
                    <p class="line">Price: {{product.price}}</p>
                    <p>Sell price: {{product.sell_price}}</p>
                </div>
            {% else %}
                <p class="price">Price: {{product.price}}</p>
            {% endif %}
            <a href="#" class="card-btn d-flex align-items-center justify-content-center">Add to card</a>
        </div>
    </div>
{% endblock content %}